# Machine Learning Online Class - Exercise 1: Linear Regression

## Part B: Multi-variate

## Instructions

This notebook contains code that helps you get started on the
linear exercise. You will need to complete the following functions
in this exericse:

> <strike>warmUpExercise.jl</strike>  
> <strike>plotData.jl</strike>  
> <strike>gradientDescent.jl</strike>  
> <strike>gradientDescent.jl</strike>  
> <strike>computeCost.jl</strike>  
> gradientDescentMulti.jl  
> computeCostMulti.jl  
> featureNormalize.jl  
> normalEqn.jl

## Feature Normalization

The algorithm is as follows:

1. Subtract each values by the feature mean  
1. Divide the result by the feature standard deviation (scale)

### Load Data

In [1]:
using CSV

In [2]:
data = CSV.read("ex1data2.txt", header=[:Size, :NumberOfBedrooms, :Price], datarow=1);
first(data, 5)

5×3 DataFrames.DataFrame
│ Row │ Size  │ NumberOfBedrooms │ Price  │
│     │ Int64 │ Int64            │ Int64  │
├─────┼───────┼──────────────────┼────────┤
│ 1   │ 2104  │ 3                │ 399900 │
│ 2   │ 1600  │ 3                │ 329900 │
│ 3   │ 2400  │ 3                │ 369000 │
│ 4   │ 1416  │ 2                │ 232000 │
│ 5   │ 3000  │ 4                │ 539900 │

### Separating Predictors And Outcomes

In [3]:
X = data[:, 1:2];
y = data[:, 3];

Normalizing X

In [4]:
include("featureNormalize.jl");

In [10]:
using Main.FeatureUtils: featureNormalize 

Xnorm, mu, sigma = featureNormalize(X)

([0.13001 -0.223675; -0.50419 -0.223675; … ; -0.18709 1.09042; -1.00375 -0.223675], [2000.68, 3.17021], [794.702, 0.760982])

Testing the output

In [11]:
using Test
using Statistics

In [12]:
for index in 1:size(Xnorm[1], 2)
    @test round(mean(Xnorm[:, index])) == 0;
    @test round(std(Xnorm[:, index]), sigdigits=10) == 1;
end

Saving the number of observations or samples

In [101]:
m = size(Xnorm, 1);

Adding the intercept term on X

In [99]:
using DataFrames
intercept = DataFrame(Intercept=ones(m))
Xdf = DataFrame(NumBedrooms=Xnorm[:, 1], Price=Xnorm[:, 2])
Xdata = hcat(intercept, Xdf);

In [100]:
first(Xdata, 5)

5×3 DataFrame
│ Row │ Intercept │ NumBedrooms │ Price     │
│     │ Float64   │ Float64     │ Float64   │
├─────┼───────────┼─────────────┼───────────┤
│ 1   │ 1.0       │ 0.13001     │ -0.223675 │
│ 2   │ 1.0       │ -0.50419    │ -0.223675 │
│ 3   │ 1.0       │ 0.502476    │ -0.223675 │
│ 4   │ 1.0       │ -0.735723   │ -1.53777  │
│ 5   │ 1.0       │ 1.25748     │ 1.09042   │